---
import { getCookings } from "../../lib/cookings.ts";

import BaseLayout from "../../layouts/base.astro";

import { Heading } from "../../components/heading";
import { CookingCard } from "../../components/cooking-card.tsx";
import { Pagination } from "../../components/pagination.tsx";

export async function getStaticPaths({ paginate }) {
  const cookings = await getCookings();

  return paginate(cookings, {
    pageSize: 12,
  });
}

const { page } = Astro.props;
---

<BaseLayout>
  <Heading as="h1" size="large">Cooking</Heading>

  <ul>
    {
      page.data.map((cooking) => (
        <li>
          <CookingCard cooking={cooking} />
        </li>
      ))
    }
  </ul>

  <Pagination page={page} />
</BaseLayout>
