---

import BaseLayout from "../layouts/base.astro"

import { Heading } from "../components/heading.tsx"

---

<BaseLayout>
	<Heading as="h1">Thoughts</Heading>
  <a href="/thoughts/foo">Foo thought</a>
</BaseLayout>
